
/* Shrink the menu bar */
.navbar {
  min-height: 40px !important;
}

.navbar-brand,
.navbar-nav li a {
  height: inherit;
  line-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  color: inherit;
  background-color: {{ .Get "background" }};
  margin-top: 41px; /* Offset body content by navbar height. */
  padding-top: 0;
  counter-reset: captions;
}

.home-section {
  background-color: {{ .Get "home_section_odd" }};
  padding: 10px 0 50px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

/* Replace the circular portrait with a rounded rectangle */
#profile .portrait {
  background-image: url('../img/portrait.jpg');
  width: 250px;
  height: 300px;
  margin: 0 auto;
  border-radius: 5%;
  background-size: cover;
}

.hero-overlay {
  position: relative;
  padding: 0.5em 0;
  clear: both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: intro 0.3s both;
  animation-delay: 0s;
  animation-delay: 0.25s;
}

.hero-title {
  font-size: 1rem;
  margin-top: 0;
  line-height: 0;
}

.hero-lead {
  max-width: none;
  font-size: 1.35rem;
  text-align: center;
}
